NODE_ENV=development
PORT=3000
DATABASE_CONNECTION_STRING=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/?appName=Cluster0
LOCAL_CONNECTION_STRING=mongodb://localhost:27017/natours
USERNAME=<db_username>
DATABASE_PASSWORD=<db_password>
JWT_SECRET=<random_strong_secret>
JWT_EXPIRES_IN=90d

EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=465
EMAIL_USERNAME=<mailtrap_username>
EMAIL_PASSWORD=<mailtrap_password>
